# @CircuitBreaker name? ??? ??????? ??? default ??? ??? ?? ??? ??????? ???.
resilience4j:
  circuitbreaker:
    configs:
      default:
        minimum-number-of-calls: 5   # ??? ??? ?? ?? ?
        sliding-window-size: 5   # ?? CLOSE ???? N? ?? ?? ? failureRateThreshold ?? ?? ??
        failure-rate-threshold: 10   # ?? 10% ?? ? ?? ??
        slow-call-duration-threshold: 500   # 500ms ?? ?? ? ??? ??
        slow-call-rate-threshold: 10   # slowCallDurationThreshold ?? ??? 10% ?? ? ?? ??
        wait-duration-in-open-state: 10000   # OPEN -> HALF-OPEN ?? ? ???? ??
        permitted-number-of-calls-in-half-open-state: 5   # HALFOPEN -> CLOSE or OPEN ?? ???? ?? ?? ??
        registerHealthIndicator: true # actuator ?? ?? ?? ??, http://localhost:8080/actuator/circuitbreakers


server:
  port: 7070

management:
  endpoints:
    web:
      exposure:
        include:
          - "*" # ???? ?? actuator ?? ??
