spring.application.name: commerce-core-api
spring.profiles.active: local

spring:
  config:
    import:
      - monitoring.yml
      - logging.yml
      - db-core.yml
  web.resources.add-mappings: false

server:
  tomcat:
    max-connections: 20000
    threads:
      max: 600
      min-spare: 100

---
spring.config.activate.on-profile: local

# @CircuitBreaker name에 지정된 서킷브레이커가 없으면 default 설정을 가져온 해당 이름의 서킷브레이커를 만든다.
resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10000
    instances:
      beeceptor-payment: # 코드에서 circuitBreaker.run("beeceptor-payment")로 호출한 이름과 일치해야 함
        base-config: default

        sliding-window-type: COUNT_BASED    # 집계 슬라이딩 윈도우 크기 (횟수 기반)
        sliding-window-size: 20             # CLOSED 상태에서 최근 20회 호출을 기준으로 실패율(failureRateThreshold) 계산
        minimum-number-of-calls: 10         # 집계에 필요한 최소 호출 수
        failure-rate-threshold: 50          # 실패율 임계값: 실패 50% 이상 시 OPEN 상태로 전환
        slow-call-duration-threshold: 5000  # 5000ms 이상 소요 시 실패로 간주
        slow-call-rate-threshold: 50        # slowCallDurationThreshold 초과 비율이 50% 이상 시 OPEN 상태로 전환
        wait-duration-in-open-state: 30000  # OPEN -> HALF_OPEN 전환 전 대기 시간 (ms)
        permitted-number-of-calls-in-half-open-state: 5   # HALF_OPEN -> CLOSE or OPEN 으로 판단하기 위해 허용할 호출 횟수
        registerHealthIndicator: true       # actuator 에서 상태 확인 가능, http://localhost:8080/actuator/circuitbreakers

        ignoreExceptions:
          - org.springframework.web.client.HttpClientErrorException

---
spring.config.activate.on-profile: local-dev


---
spring.config.activate.on-profile: dev


---
spring.config.activate.on-profile: staging


---
spring.config.activate.on-profile: live

